{% include head.html %}
<div class="wrapper">
    <header>
    <div align = "right">
      <a href="http://fscss.org/">
        <img src="/images/logo.png" style="float: right; margin: 0px 0px 23px 23px" width="200">
      </a>

      <h1 style="font-style: italic"> 
        Volunteer Site 
      </h1>

      <a href="https://www.volgistics.com/ex/portal.dll/ap?ap=1953929563" style="font-size:20px; font-style: italic">
        Apply online today! 
      </a>
      <br> 

      <a href="https://www.volgistics.com/ex2/vicnet.dll?from=189830" style="font-size:20px">
        Self-Scheduling
      </a> 
      <br> 
      
      {% assign sorted_pages = site.html_pages | sort:"order" %} 
      {% for p in sorted_pages %}
      <a 
        {% if p.url == page.url %} 
          style="font-weight:bold; font-size:20px" 
        {% endif %} 
          style="font-size:20px" 
          href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}
      </a><br>
      {% endfor %}

    </div>
  </header>
  <section>

  {{ content }}

  </section>
  <footer>
    <div align = "right">

      <p>hosted on <a href="{{ site.github.owner_url }}">GitHub</a></p>
    </div>
  </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

{% include foot.html %}
